body {
    font-family: Arial, sans-serif;
    background-color: #f9fafc;
    margin: 0 0 40px;
}

@media screen and (min-width: 900px) { /*for PC*/
    :root {
        --header-height: 50px;
        --header-right-left-padding: 15px;
        --hamburger-menu-width: 30px;
        --hamburger-header-title-gap: 20px;
        --side-menu-width: 290px;
        --side-menu-left-margin: 25px;
        --title-top-margin: 20px;
        --title-bottom-margin: 20px;
        --button-sink-height: 4px;
        --result-table-right-left-margin: 25px;
    }

    .level-1 {font-size: 32px;}
    .level-2 {font-size: 20px;}
    .level-3, .data-table > * {font-size: 16px;}
    .level-4 {font-size: 14px;}

    .input-form {
        width: 640px;
        margin: 0 auto 30px;
    }

    .input-table {
        table-layout: fixed;
        width: 70%;
    }

    .table-label {
        width: 24%;
    }

    .order-select {
        width: 370px;
    }

    .data-table {
        th, td {
            padding: 7px 8px;
        }
    }

    a.btn--orange {
        padding: 9px 11px 0;
        margin: 2px 0;
        border-bottom: 7px solid #b84c00;
    }

    a.btn--orange:active {
        margin-top: calc(2px + var(--button-sink-height));
        border-bottom: calc(7px - var(--button-sink-height)) solid #b84c00;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) { /*for Tablet*/
    :root {
        --header-height: 50px;
        --header-right-left-padding: 12px;
        --hamburger-menu-width: 30px;
        --hamburger-header-title-gap: 18px;
        --side-menu-width: 260px;
        --side-menu-left-margin: 20px;
        --title-top-margin: 15px;
        --title-bottom-margin: 15px;
        --button-sink-height: 4px;
        --result-table-right-left-margin: 20px;
    }

    .level-1 {font-size: 32px;}
    .level-2 {font-size: 18px;}
    .level-3, .data-table > * {font-size: 16px;}
    .level-4 {font-size: 14px;}

    .input-form {
        width: 560px;
        margin: 0 auto 30px;
    }

    .input-table {
        table-layout: fixed;
        width: 70%;
    }

    .table-label {
        width: 26%;
    }

    .order-select {
        width: 370px;
    }

    .data-table {
        th, td {
            padding: 7px 8px;
        }
    }

    a.btn--orange {
        padding: 9px 11px;
        margin: 2px 0;
        border-bottom: 7px solid #b84c00;
    }

    a.btn--orange:active {
        margin-top: calc(2px + var(--button-sink-height));
        border-bottom: calc(7px - var(--button-sink-height)) solid #b84c00;
    }
}

@media screen and (max-width: 600px) { /*for smartphone*/
    :root {
        --header-height: 50px;
        --header-right-left-padding: 7.5px;
        --hamburger-menu-width: 30px;
        --hamburger-header-title-gap: 18px;
        --side-menu-width: 225px;
        --side-menu-left-margin: 16px;
        --title-top-margin: 15px;
        --title-bottom-margin: 10px;
        --button-sink-height: 4px;
        --result-table-right-left-margin: 5px;
    }

    .level-1 {font-size: 24px;}
    .level-2 {font-size: 16px;}
    .level-3, .data-table > * {font-size: 15px;}
    .level-4 {font-size: 14px;}

    .input-form {
        max-width: 100%;
        margin: 0 15px 30px;
    }

    .input-table {
        width: 98%;
    }

    .table-label {
        width: 90px;
    }

    .order-select {
        width: calc(100% - 10px);
    }

    .data-table {
        th, td{
            padding: 7px 3px;
        }
    }

    .table-wrap.is-overflow .data-table {
        th, td{
            padding: 7px 8px;
        }
    }

    a.btn--orange {
        padding: 9px 11px;
        margin: 2px 0;
        border-bottom: 7px solid #b84c00;
    }

    a.btn--orange:active {
        margin-top: calc(2px + var(--button-sink-height));
        border-bottom: calc(7px - var(--button-sink-height)) solid #b84c00;
    }
}

/* common */
header {
    position: fixed; /* ここに注目! */
    top: 0;
    z-index: 1000;
    width: calc(100% - 2 * var(--header-right-left-padding));
    height: var(--header-height);
    color: white;
    background-color: green;
    padding-inline: var(--header-right-left-padding);
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-left {
    display: flex;
}

.header-title {
    text-decoration: none;
    display: block;
    color: white;
    margin: auto 0 auto calc(var(--hamburger-menu-width) + var(--hamburger-header-title-gap));
}

.header-title:hover {
    color: #eeeeee;
}

.title {
    text-align: center;
    padding: calc(var(--header-height) + var(--title-top-margin)) 0 0;
    margin: 0 auto var(--title-bottom-margin);
}

.input-table {
    margin: 0 auto 10px;
    border-collapse: collapse;
}

.input-table td {
    border: 0;
    padding: 4px 2px;
}

.input-form {
    text-align: center;
    background: #fff;
    padding: 20px 0;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
    transition: border-color 0.1s;
}

input[type="text"]:hover {
    border-color: #222;
}

input[type="checkbox"], .cursor-pointer {
    cursor: pointer;
}

.null-checkbox {
    max-width: max-content;
    margin: 0 auto 10px;
}

.null-checkbox.--flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.order-select {
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

select {
    color: #000;
    padding: 2px 1px;
    border-radius: 3px;
}

select:disabled {
    color: #6d6d6d;
}

.btn--search, .btn--clear {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn--clear {
    display: block;
    margin: 0 auto 20px;
}

a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    text-decoration: none;
}

a.btn--orange:hover {
    background: #f56500;
}

a.btn--shadow {
    -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 18px rgba(0, 0, 0, .3);
}

.btn--green {
    background-color: #4CAF50;
}

.btn--green:hover {
    background-color: #45a049;
}

.btn--red {
    background-color: #f2150e;
}

.btn--red:hover {
    background-color: #dd1411;
}

.overflow-checkbox-wrap {
    width: max-content;
    margin: 0 auto 10px;
}

.total-count {
    width: max-content;
    margin: 0 var(--result-table-right-left-margin) 2px auto;
}

.table-wrap {
    margin: 0 0 30px;
}

.table-wrap.is-overflow {
    overflow-x: scroll;
}

.data-table {
    width: calc(100% - 2 * var(--result-table-right-left-margin));
    margin: 0 auto;
    border-collapse: collapse;
}

.table-wrap.is-overflow .data-table {
    min-width: max-content;
    margin: 0 var(--result-table-right-left-margin);
}

.data-table {
    th, td {
        border: 1px solid #ddd;
    }
}

.data-table th {
    background-color: #4CAF50;
    color: white;
}

.data-table td.num {
    text-align: right;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.no-data {
    text-align: center;
}

.go-to-top {
    width: max-content;
    margin: 0 var(--result-table-right-left-margin) 0 auto;
}

.go-to-top a {
    color: #00e;
}

.go-to-top::before, .go-to-top::after {
    content: "⇧";
}