body {
    width: 95%;
    margin: 7px auto auto 28px;
}

h1 {
    font-size: 32px;
    padding: 70px 0 0;
    margin: 0 0 20px;
}

p {
    margin: 0;
}

.theme-select {
    color: #000000;
    width: 130px;
    height: 28px;
    font-size: 16px;
    margin: 0;
}

.input {
    margin: 10px 0 0 0;
}

.rainbow {
    margin: 10px 0;
    width: 90%;
    height: 100px;
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783) 0 / 200%;
    animation: 5s rainbow-box linear infinite;
}

@keyframes rainbow-box {
    100% { background-position-x: 200%; }
}

.rainbow-text {
    margin: 10px 0;
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783) 0 / 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
    animation: 5s rainbow-text linear infinite;
}

@keyframes rainbow-text {
    100% { background-position-x: 200%; }
}

.rainbow-number {
    margin: 30px 0;
    background: linear-gradient(170deg,#fbf9db,#f9e3be,#c0bbbd,#9ba9b8,#9b94b1,#fbeae5,#8dbce6,#91a7c0,#cdb5bc) 0 / 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
    animation: 3s rainbow-num linear infinite;
}

@keyframes rainbow-num {
    100% {background-position-x: -200%;}
}

.table1 {
    margin: 30px;
    border-collapse: collapse;
    th, td {
        border: 1px white solid;
        padding: 7px 8px;
    }
}

.table2 {
    margin: 30px;
    border-collapse: collapse;
}
.table2 th, .table2 td {
    border: 1px white solid;
    padding: 7px 8px;
}

.checkbox-wrap {
    font-size: 16px;
    width: 400px;
    margin: 10px 0 10px 0;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

#modal-content {
    background-color: #f4f4f4;
    margin: 80px auto auto auto;
    width: 400px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

#header {
    cursor: move;
    background-color: red;
    height: 50px;
    z-index: 10;
}

#summon, #modal-close {
    font-size: 16px;
}


/*
* {
    outline: .1px red solid;
}