.switch-area {
    position: relative;
    margin: 10px 0 0 0;
    width: auto;
}

.switch-area > p {
    position: absolute;
    top: 0;
    left: 56px;
    font-size: 16px;
    vertical-align: middle;
}

.switch-outer {
    width: 46px;
    height: 24px;
    background-color: lightgray;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.switch-outer.active {
    background-color: #51E373;
}

.toggle-switch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 2px;
    margin: 2px 0;
    box-shadow: 1px 1px 7px #B7B7B7, -1px -1px 4px #CECECE inset;
    transition: left .25s ease-in-out;
}

.toggle-switch.active {
    left: 24px;
}